<!DOCTYPE html>
<html>
<head>
	<title>v-care สวยวิ๊ง ใสว๊าว ดาวมหาลัย</title>
	<meta charset="utf-8">
	<link href="css/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/browser-upgrade/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/theme.css">

	<script src="js/jquery.min.js"></script>
	<script src="css/bootstrap-3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            function checkWidth() {
                var windowsize = $(window).width();
                if (windowsize < 420) {
                    // $('#textH1').css('font-size', '2em');
                    // $('#textD1').css('font-size', '1em');
                } else {
                    // $('#textH1').css('font-size', '3em');
                    // $('#textD1').css('font-size', '2em');
                }
            }
            checkWidth();

            $(window).resize(checkWidth);
        });
    </script>

</head>

<body>
<div class="container-fluid" style="">
   <div class="row">
	<img src="image/logo.jpg" class="img-responsive">
   </div>
</div>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html"><img src="image/icon_home.png">หน้าหลัก</a></li>
                <li><a href="girl_All.html"><img src="image/icon_star.png">VOTE สวยวิ๊ง</a></li>
                <li><a class="not-active" href="#"><img src="image/icon_star.png">VOTE ใสว๊าว</a></li>
                <li><a href="video.html"><img src="image/icon_video.png">วิดีโอคลิป</a></li>
                <li><a href="content.html"><img src="image/icon_v.png">จุดเริ่มต้นของผิวสวย</a></li>
                <li><a href="reward.html"><img src="image/icon_cup.png">กติการางวัล</a></li>
                <li><a href="announce.html"><img src="image/icon_vote.png">ประกาสผลโหวต</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding:0;margin:0;background-color:#58DCC7;">
    <div class="container-fluid" style="width:98%;margin-left:1%;">
       <div class="row">
        <img src="image/bar_announce.jpg" class="img-responsive">
       </div>
    </div>
    
    <div style="background-color:white;max-width: 781;width:98%;margin-left:1%;font-weight: bold;"> 
        <div class="col-sm-12">
            <div id="imMobile" class="col-sm-4" style="padding-top: 4%;">
                <img src="image/VC_win.jpg" class="img-responsive">
            </div>
            <div class="col-sm-8" style="padding-top: 4%;text-align:left;">
                <img src="image/bar_win_top.jpg" class="img-responsive">
                <span style="font-size:4em;color:#1E7A7F;">ประวัติ นางสาวอารียา ศรีนาค</span><br>
                <span style="font-size:2.5em;color:#54979A;">- อายุ 20 ปี</span><br>
                <span style="font-size:2.5em;color:#54979A;">- น้ำหนัก 45 kg. ส่วนสูง 165 cm.</span><br>
                <span style="font-size:2.5em;color:#54979A;">- มหาวัทยาลัย รังสิต</span><br>
                <span style="font-size:2.5em;color:#54979A;">- ชั้นปีที่ 3 คณะ นิเทศศาสตร์</span><br>
                <span style="font-size:2.5em;color:#54979A;">- เอก ภาพยนตร์</span><br>
                <span style="font-size:2.5em;color:#54979A;">- ความสามารถพิเศษ เล่นกีตาร์ / เต้นฮิปฮอป / Acting / ขี่ม้า</span><br>
                <span style="font-size:2.5em;color:#54979A;">- งานอดิเรค ขี่ม้า / เล่นเน็ต</span><br>

                <span style="font-size:3em;color:#57CBAD;">รับรางวัลเงินสด 100,000 และได้ลงนิตนสาร LIsa</span>                
            </div>
        </div>
        
        <div class="col-sm-6" style="padding-top: 4%;text-align:left;">
            <img src="image/bar_vote_win.jpg" class="img-responsive" width="100%">
            <div style="background-color:#FBECEF;padding:10%;">
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- A</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- B</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- C</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- D</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- E</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- F</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- G</span>    
            </div>
            
        </div>
        <div class="col-sm-6" style="padding-top: 4%;text-align:left;">
            <img src="image/bar_vote_win_2.jpg" class="img-responsive" width="100%">
            <div style="background-color:#D6EAE3;padding:10%;">
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- A</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- B</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- C</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- D</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- E</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- F</span><br>
                <span style="font-size:2.5em;color:#3C6458;font-weight:normal;">- G</span>    
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <img src="image/footpage.jpg" class="img-responsive">
            </div>
        </div>
    </div>    
</div>




</body>
</html>