<!DOCTYPE html>
<html>
<head>
	<title>v-care สวยวิ๊ง ใสว๊าว ดาวมหาลัย</title>
	<meta charset="utf-8">
	<link href="css/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/browser-upgrade/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/theme.css">

	<script src="js/jquery.min.js"></script>
	<script src="css/bootstrap-3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            function checkWidth() {
                var windowsize = $(window).width();
                if (windowsize < 420) {
                    $('#textH1').css('font-size', '2em');
                    $('#textD1').css('font-size', '1em');

                    $('#textH2').css('font-size', '2em');
                    $('#textD2').css('font-size', '1em');

                    $('#textH3').css('font-size', '2em');
                    $('#textD3').css('font-size', '1em');

                    $('#textH4').css('font-size', '2em');
                    $('#textD4').css('font-size', '1em');
                } else {
                    $('#textH1').css('font-size', '3em');
                    $('#textD1').css('font-size', '2em');

                    $('#textH2').css('font-size', '3em');
                    $('#textD2').css('font-size', '2em');

                    $('#textH3').css('font-size', '3em');
                    $('#textD3').css('font-size', '2em');

                    $('#textH4').css('font-size', '3em');
                    $('#textD4').css('font-size', '2em');
                }
            }
            checkWidth();

            $(window).resize(checkWidth);
        });
    </script>

</head>

<body>
<div class="container-fluid" style="">
   <div class="row">
	<img src="image/logo.jpg" class="img-responsive">
   </div>
</div>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html"><img src="image/icon_home.png">หน้าหลัก</a></li>
                <li><a href="girl_All.html"><img src="image/icon_star.png">VOTE สวยวิ๊ง</a></li>
                <li><a class="not-active" href="#"><img src="image/icon_star.png">VOTE ใสว๊าว</a></li>
                <li><a href="video.html"><img src="image/icon_video.png">วิดีโอคลิป</a></li>
                <li><a href="content.html"><img src="image/icon_v.png">จุดเริ่มต้นของผิวสวย</a></li>
                <li><a href="reward.html"><img src="image/icon_cup.png">กติการางวัล</a></li>
                <li><a href="announce.html"><img src="image/icon_vote.png">ประกาสผลโหวต</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding:0;margin:0;background-color:#58DCC7;">
    <div class="container-fluid" style="width:98%;margin-left:1%;">
       <div class="row">
        <img src="image/content_header.jpg" class="img-responsive">
       </div>
    </div>
    
    <div style="background-color:white;max-width: 781;width:98%;margin-left:1%;font-weight: bold;"> 
        <div>
            <table>
                <tr>
                    <td width="30%" style="padding: 2%;">
                        <img src="image/conImg1.jpg" width="100%" class="img-responsive">            
                    </td>
                    <td style="text-align:left; padding:1%;" width="80%">
                        <span id="textH1" style="color:#4EA7B8; font-size:3em; font-weight: bold;">สำลีก้านสารพัดประโยชน์</span><br>
                        <span id="textD1" style="color:#797A7A; font-size:2em;">คุณควรพกก้านสำลีติดตัวไว้เสมอเพราะ มันสามารถช่วยคุณในเรื่องของความงามได้ตั้งหลายอย่างแก้ไขความผิดพลาด</span><br>
                        <div align="right"><a href="content_detail.html"><img src="image/bt_more.jpg"></a></div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td width="30%" style="padding: 2%;">
                        <img width="100%" src="image/conImg2.jpg" class="img-responsive">
                    </td>
                    <td style="text-align:left; padding:1%;" width="80%">
                        <span id="textH2" style="color:#4EA7B8; font-size:3em; font-weight: bold;">ผิวแห้งและคันมาก จัดการยังไงดี</span><br>
                        <span id="textD2" style="color:#797A7A; font-size:2em;">ลมหนาวๆ กำลังพัดมา เมื่อโลชั่นขวดเดิม บำรุงกายาไม่ค่อยอยู่ เห็นทีทีมงาน lisa guru ต้องหันหน้าไปพึ่งน้ำมันซะแล้ว</span><br>
                        <div align="right"><a href="content_detail.html"><img src="image/bt_more.jpg"></a></div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td width="30%" style="padding: 2%;">
                        <img src="image/conImg1.jpg" width="100%" class="img-responsive">            
                    </td>
                    <td style="text-align:left; padding:1%;" width="80%">
                        <span id="textH3" style="color:#4EA7B8; font-size:3em; font-weight: bold;">สำลีก้านสารพัดประโยชน์</span><br>
                        <span id="textD3" style="color:#797A7A; font-size:2em;">คุณควรพกก้านสำลีติดตัวไว้เสมอเพราะ มันสามารถช่วยคุณในเรื่องของความงามได้ตั้งหลายอย่างแก้ไขความผิดพลาด</span><br>
                        <div align="right"><a href="content_detail.html"><img src="image/bt_more.jpg"></a></div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td width="30%" style="padding: 2%;">
                        <img width="100%" src="image/conImg2.jpg" class="img-responsive">
                    </td>
                    <td style="text-align:left; padding:1%;" width="80%">
                        <span id="textH4" style="color:#4EA7B8; font-size:3em; font-weight: bold;">ผิวแห้งและคันมาก จัดการยังไงดี</span><br>
                        <span id="textD4" style="color:#797A7A; font-size:2em;">ลมหนาวๆ กำลังพัดมา เมื่อโลชั่นขวดเดิม บำรุงกายาไม่ค่อยอยู่ เห็นทีทีมงาน lisa guru ต้องหันหน้าไปพึ่งน้ำมันซะแล้ว</span><br>
                        <div id="textD4" align="right"><a href="content_detail.html"><img src="image/bt_more.jpg"></a></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="container-fluid">
            <div class="row">
                <img src="image/footpage.jpg" class="img-responsive">
            </div>
        </div>
    </div>    
</div>




</body>
</html>