<!DOCTYPE html>
<html>
<head>
	<title>v-care สวยวิ๊ง ใสว๊าว ดาวมหาลัย</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="css/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/browser-upgrade/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/theme.css">

	<script src="js/jquery.min.js"></script>
	<script src="css/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.spritely/0.6.8/jquery.spritely.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
		    function checkWidth() {
		        var windowsize = $(window).width();
		        if (windowsize < 420) {
		        	$("#tagVote").attr("src","image/tagVote_mobile.jpg");
		        } else {
		        	$("#tagVote").attr("src","image/tagVote.jpg");
		        }
		    }
		    checkWidth();

		    $(window).resize(checkWidth);
		});

		$('#vote_home2').sprite({
			fps: 8,
			no_of_frames: 6,
			pause: 3000,
			on_last_frame: function(obj) {
				obj.spStop();
				setTimeout(function(){
					$('#vote_home2').spStart();
				}, 3000);
			}
		});
	</script>
</head>
<body>
	<div class="container-fluid" style="">
		<div class="row">
			<img src="image/logo.jpg" class="img-responsive">
		</div>
	</div>

	<nav class="navbar navbar-default navbar-static-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	        </div>
	        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li><a href="index.html"><img src="image/icon_home.png">หน้าหลัก</a></li>
	                <li><a href="girl_All.html"><img src="image/icon_star.png">VOTE สวยวิ๊ง</a></li>
	                <li><a class="not-active" href="#"><img src="image/icon_star.png">VOTE ใสว๊าว</a></li>
	                <li><a href="video.html"><img src="image/icon_video.png">วิดีโอคลิป</a></li>
	                <li><a href="content.html"><img src="image/icon_v.png">จุดเริ่มต้นของผิวสวย</a></li>
	                <li><a href="reward.html"><img src="image/icon_cup.png">กติการางวัล</a></li>
	                <li><a href="announce.html"><img src="image/icon_vote.png">ประกาสผลโหวต</a></li>
	            </ul>
	        </div>
	    </div>
	</nav>

	<style type="text/css">
		#vote_home2{
			position:absolute;
			left:200px;
			top: 400px;
			display: block;
			width: 249px;
			height:52px;
			background: transparent url(vote-btn.png) no-repeat scroll 0 0;
		}
	</style>
	<!-- <div class="container-fluid" style="width:800px; height:500px;background: #CCC;position:relative">
		<a id="vote_home2" href=""></a> 
	</div> -->
	<div class="container-fluid">
		<div class="row">
			<a href="girl_All.html"><img src="image/banner.jpg" class="img-responsive"></a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<img id="tagVote" src="image/tagVote.jpg" class="img-responsive">
		</div>
	</div>

	<div class="row" style="padding-top:10px">
		<ul  align="center" style="padding-left:20px;">
	    	<li>
		    	<a href="girl_detail.html">
	    		<div id="fram" class="center-block">
					<div id="imGirl"><img src="image/VC1.jpg"></div>
				</div>
				<div id="vc_text">VC 1</div>
				<div id="vc_text2">มุก</div>	
		    	</a>
	    	</li>
	    	<li>
	    		<a href="girl_detail.html">
				<div id="fram" class="center-block">
					<div id="imGirl"><img src="image/VC2.jpg"></div>
				</div>
				<div id="vc_text">VC 2</div>
				<div id="vc_text2">ออม</div>
	    		</a>
	    	</li>
	    	<li>
	    		<a href="girl_detail.html">
				<div id="fram" class="center-block">
					<div id="imGirl"><img src="image/VC3.jpg"></div>
				</div>
				<div id="vc_text">VC 3</div>
				<div id="vc_text2">จีน</div>
	    		</a>
	    	</li>
	    	<li>
	    		<a href="girl_detail.html">
				<div id="fram" class="center-block">
					<div id="imGirl"><img src="image/VC4.jpg"></div>
				</div>
				<div id="vc_text">VC 4</div>
				<div id="vc_text2">บิ๊มบั๊ม</div>
	    		</a>
	    	</li>
	    	<li>
	    		<a href="girl_detail.html">
				<div id="fram" class="center-block">
					<div id="imGirl"><img src="image/VC5.jpg"></div>
				</div>
				<div id="vc_text">VC 5</div>
				<div id="vc_text2">มาย</div>
	    		</a>
	    	</li>
	    	<li>
	    		<a href="girl_detail.html">
				<div id="fram" class="center-block">
					<div id="imGirl"><img src="image/VC6.jpg"></div>
				</div>
				<div id="vc_text">VC 6</div>
				<div id="vc_text2">เจน</div>
	    		</a>
				
	    	</li>
	    	<li>
	    		<a href="girl_detail.html">
				<div id="fram" class="center-block">
					<div id="imGirl"><img src="image/VC7.jpg"></div>
				</div>
				<div id="vc_text">VC 7</div>
				<div id="vc_text2">เชอร์รี่</div>
	    		</a>
				
	    	</li>
	    </ul>
	</div>	

	<div class="col-sm-12" style="padding-bottom: 30px;">
		<div class="col-sm-6" style="padding: 0;">
				<img src="image/content_bar2.jpg" class="img-responsive">
	    		<div>
	    			<table>
	    				<tr>
	    					<td width="30%" align="top">
	    						<img src="image/conImg1.jpg" class="img-responsive">			
	    					</td>
	    					<td style="text-align:left; padding-left:10px;" width="60%">
	    						<span style="color:#4EA7B8; font-size:1.5em; font-weight: bold;">สำลีก้านสารพัดประโยชน์</span><br>
			    				<span style="color:#797A7A; font-size:1.4em;">คุณควรพกก้านสำลีติดตัวไว้เสมอเพราะ มันสามารถช่วยคุณในเรื่องของความงามได้ตั้งหลายอย่างแก้ไขความผิดพลาด</span>
			    				<div align="right"><a href="content_detail.html"><img src="image/bt_more.jpg"></a></div>
	    					</td>
	    				</tr>
	    			</table>
	    		</div>
	    		<div>
	    			<table>
	    				<tr>
	    					<td width="30%">
	    						<img src="image/conImg2.jpg" class="img-responsive">			
	    					</td>
	    					<td style="text-align:left; padding-left:10px;" width="60%">
	    						<span style="color:#4EA7B8; font-size:1.5em; font-weight: bold;">ผิวแห้งและคันมาก จัดการยังไงดี</span><br>
			    				<span style="color:#797A7A; font-size:1.4em;">ลมหนาวๆ กำลังพัดมา เมื่อโลชั่นขวดเดิม บำรุงกายาไม่ค่อยอยู่ เห็นทีทีมงาน lisa guru ต้องหันหน้าไปพึ่งน้ำมันซะแล้ว</span>
			    				<div align="right"><a href="content_detail.html"><img src="image/bt_more.jpg"></a></div>
	    					</td>
	    				</tr>
	    			</table>
	    		</div>
		</div>
		<div class="col-sm-6" style="padding: 0;" >
			<div data-example-id="responsive-embed-4by3-iframe-youtube" style="max-width: 410px;max-height: 310px;background-size:cover;background-image:url(image/content_video2.jpg)">
				<div class="embed-responsive embed-responsive-4by3" style="padding-bottom:100%">
					<iframe class="embed-responsive-item" style="width:97%;height:66%;padding-top:12%;padding-left:5%;" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<img src="image/footpage.jpg" class="img-responsive">
		</div>
	</div>

</body>
</html>