<!DOCTYPE html>
<html>
<head>
	<title>v-care สวยวิ๊ง ใสว๊าว ดาวมหาลัย</title>
	<meta charset="utf-8">
	<link href="css/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/browser-upgrade/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/theme.css">

	<script src="js/jquery.min.js"></script>
	<script src="css/bootstrap-3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            function checkWidth() {
                var windowsize = $(window).width();
                if (windowsize < 420) {
                    
                } else {

                }
            }
            checkWidth();

            $(window).resize(checkWidth);
        });
    </script>

</head>

<body>
<div class="container-fluid" style="">
   <div class="row">
	<img src="image/logo.jpg" class="img-responsive">
   </div>
</div>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html"><img src="image/icon_home.png">หน้าหลัก</a></li>
                <li><a href="girl_All.html"><img src="image/icon_star.png">VOTE สวยวิ๊ง</a></li>
                <li><a class="not-active" href="#"><img src="image/icon_star.png">VOTE ใสว๊าว</a></li>
                <li><a href="video.html"><img src="image/icon_video.png">วิดีโอคลิป</a></li>
                <li><a href="content.html"><img src="image/icon_v.png">จุดเริ่มต้นของผิวสวย</a></li>
                <li><a href="reward.html"><img src="image/icon_cup.png">กติการางวัล</a></li>
                <li><a href="announce.html"><img src="image/icon_vote.png">ประกาสผลโหวต</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding:0;margin:0;background-color:#58DCC7;">
    <div style="max-width: 781;max-height: 561px;width:98%;margin-left:1%;;background-size:cover;background-image:url(image/frame_video_page.jpg)">
        <div class="embed-responsive embed-responsive-4by3" style="padding-bottom:74%">
            <iframe class="embed-responsive-item" style="width:97%;height:92%;padding-top:9%;padding-left:4%;" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe>
        </div>
    </div>
    
    <style type="text/css">
        div.center-block > iframe {
            /*width: 120%;
            height: auto;*/
        }    
        div.center-block {
            margin: 0;
            padding: 0;
        }
    </style>
    
    <style type="text/css">
        iframe {
            width: 80%;
            height: auto;
        }    
    </style>
    
    <div style="background-color:white;max-width: 781;width:98%;margin-left:1%;font-weight: bold;">
        <span style="font-size:4em;color:#399D89;">V-Care สวยวิ๊ง</span><br>
        <div style="padding:2%;float:center;">
            <div style="padding: 2%;width:33%;float:left;" >
                <div class="embed-responsive embed-responsive-4by3" >
                    <iframe class="embed-responsive-item" style="" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe><br>
                    
                </div>
                <a href="girl_detail.html">
                <span style="font-size: 3em;color: #379BA7;">VC 1 </span>
                <span style="font-size: 3em;color: #DE3884;"> มุก</span>
                </a>
            </div>
            <div style="padding: 2%;width:33%;float:left;" >
                <div class="embed-responsive embed-responsive-4by3" >
                    <iframe class="embed-responsive-item" style="" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe><br>
                    
                </div>
                <a href="girl_detail.html">
                <span style="font-size: 3em;color: #379BA7;">VC 2 </span>
                <span style="font-size: 3em;color: #DE3884;"> ออม</span>    
                </a>
            </div>
            <div style="padding: 2%;width:33%;float:left;" >
                <div class="embed-responsive embed-responsive-4by3" >
                    <iframe class="embed-responsive-item" style="" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe><br>
                    
                </div>
                <a href="girl_detail.html">
                <span style="font-size: 3em;color: #379BA7;">VC 3 </span>
                <span style="font-size: 3em;color: #DE3884;"> จีน</span>    
                </a>
            </div>
            <div style="padding: 2%;width:33%;float:left;" >
                <div class="embed-responsive embed-responsive-4by3" >
                    <iframe class="embed-responsive-item" style="" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe><br>
                    
                </div>
                <a href="girl_detail.html">
                <span style="font-size: 3em;color: #379BA7;">VC 4 </span>
                <span style="font-size: 3em;color: #DE3884;"> บิ่มบิ๊ม</span>
                </a>
            </div>
            <div style="padding: 2%;width:33%;float:left;" >
                <div class="embed-responsive embed-responsive-4by3" >
                    <iframe class="embed-responsive-item" style="" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe><br>
                    
                </div>
                <a href="girl_detail.html">
                <span style="font-size: 3em;color: #379BA7;">VC 5 </span>
                <span style="font-size: 3em;color: #DE3884;"> มาย</span>
                </a>
            </div>
            <div style="padding: 2%;width:33%;float:left;" >
                <div class="embed-responsive embed-responsive-4by3" >
                    <iframe class="embed-responsive-item" style="" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe><br>
                    
                </div>
                <a href="girl_detail.html">
                <span style="font-size: 3em;color: #379BA7;">VC 6 </span>
                <span style="font-size: 3em;color: #DE3884;"> เชอรี่</span>
                </a>
            </div>
            <div style="padding: 2%;width:33%;float:left;" >
                <div class="embed-responsive embed-responsive-4by3" >
                    <iframe class="embed-responsive-item" style="" src="https://www.youtube.com/embed/WN1whNYwyrg" ></iframe><br>
                    
                </div>
                <a href="girl_detail.html">
                <span style="font-size: 3em;color: #379BA7;">VC 7 </span>
                <span style="font-size: 3em;color: #DE3884;"> เจน</span>    
                </a>
                
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <img src="image/footpage.jpg" class="img-responsive">
            </div>
        </div>
    </div>    
</div>




</body>
</html>